{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Secure Space{% endtrans %}</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <a href="{{ path('create_kit') }}">
                <div class="icon-action">
                    <div class="picture create-kit"></div>
                    <div class="title">{% trans %}Kit Creation{% endtrans %}</div>
                </div>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="{{ path('kit_list') }}">
                <div class="icon-action">
                    <div class="picture download-ecert"></div>
                    <div class="title">{% trans %}List of Kits{% endtrans %}</div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}